[Desktop Entry]
Name=GNGT
Version=1.0
Exec=gngt
Comment=German Noun Gender Trainer is a tool for German learners.
Icon=gngt.xpm
Type=Application
Terminal=false
StartupNotify=true
Encoding=UTF-8
Categories=Education;
