[Desktop Entry]
Name=GNGT
Version=1.0
Exec=gngt
Comment=Helps German learners memorize genders of German nouns.
Icon=gngt.xpm
Type=Application
Terminal=false
StartupNotify=true
Encoding=UTF-8
Categories=Education;